/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    //background-image: url('/assets/images/blurry.jpg');
    //background-repeat: no-repeat;
    //background-size: cover;
    //background-attachment: fixed;

    background: linear-gradient(135deg, #002200 0%, #001100 30%, #000033 60%, #000000 100%);
    background-size: 400% 400%;
    margin: 0;
    animation: gradientAnimation 15s ease infinite;

}


@layer components {
    .card {
        @apply bg-custom-card transition-all  shadow-custom-card backdrop-blur-custom-card rounded-custom-card border border-custom-card;
    }
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
