/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-image: url('/assets/images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    //font-family: "Montserrat", sans-serif;
    //background-color:hsla(0,0%,0%,1);
    //background-image:
    //        radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0px, transparent 50%),
    //        radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
    //        radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
    //        radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0px, transparent 50%),
    //        radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
    //        radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
    //        radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%);
    //background: linear-gradient(135deg, #002200 0%, #001100 30%, #000033 60%, #000000 100%);
    //background-size: 400% 400%;
    //margin: 0;
    //animation: gradientAnimation 15s ease infinite;
    //background: black;
}


@layer components {
    .card {
        @apply bg-custom-card transition-all  shadow-custom-card backdrop-blur-custom-card rounded-custom-card border border-custom-card;
    }
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
