<div class="lecture-form card p-8 max-w-2xl my-8 mx-auto  shadow-lg rounded-lg">
    <form [formGroup]="lectureForm" (ngSubmit)="onSubmit()" class="space-y-6">
        <!-- Lecture Name -->
        <div class="form-group">
            <label for="name" class="block text-lg font-semibold mb-2 text-green-500">Name</label>
            <input id="name" formControlName="name" type="text"
                   class="w-full p-3 rounded-lg border border-gray-300 text-green-500 focus:ring-blue-500 focus:border-blue-500"
                   required placeholder="Enter lecture name">
        </div>

        <!-- Lecture Description -->
        <div class="form-group">
            <label for="description" class="block text-lg font-semibold mb-2 text-green-500">Description</label>
            <textarea id="description" formControlName="description"
                      class="w-full p-3 rounded-lg border border-gray-300 text-green-500 focus:ring-blue-500 focus:border-blue-500"
                      placeholder="Enter lecture description"></textarea>
        </div>

        <!-- Lecture Length -->
        <div class="form-group">
            <label for="length" class="block text-lg font-semibold mb-2 text-green-500">Length</label>
            <input id="length" formControlName="length" type="text"
                   class="w-full p-3 rounded-lg border border-gray-300 text-green-500 focus:ring-blue-500 focus:border-blue-500"
                   placeholder="Enter lecture length">
        </div>

        <!-- Lecture Type -->
        <div class="form-group">
            <label for="type" class="block text-lg font-semibold mb-2 text-green-500">Type</label>
            <input id="type" formControlName="type" type="text"
                   class="w-full p-3 rounded-lg border border-gray-300 text-green-500 focus:ring-blue-500 focus:border-blue-500"
                   placeholder="Enter lecture type">
        </div>

        <!-- Lecture Content -->
        <div class="form-group">
            <label for="content" class="block text-lg font-semibold mb-2 text-green-500">Content</label>
            <textarea id="content" formControlName="content"
                      class="w-full p-3 rounded-lg border border-gray-300 text-green-500 focus:ring-blue-500 focus:border-blue-500"
                      placeholder="Enter lecture content"></textarea>
        </div>

        <!-- Submit Button -->
        <div class="form-group flex justify-center">
            <button type="submit"
                    class="py-3 bg-green-600 px-6 hover:bg-green-700 text-white font-semibold rounded-lg shadow-md transition-all duration-300"
                    [disabled]="lectureForm.invalid">
                Add Lecture
            </button>
        </div>
    </form>
</div>
