<section class="bg-black">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-black dark:border-gray-700">
            
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                
                
                
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Forgot Password
                </h1>
                @if(error) {
                    <div class="bg-red-900 border border-red-500 text-red-200 px-4 py-3 rounded relative" role="alert">
                        <strong class="font-bold">{{ error }}</strong>
                    </div>
                }

                @if(message) {
                    <div class="bg-green-900 border border-green-500 text-green-200 px-4 py-3 rounded relative" role="alert">
                        <strong class="font-bold">{{ message }}</strong>
                    </div>
                }
                
                <!-- @if (errorMessage) {
                    <div class="bg-red-900 border border-red-500 text-red-200 px-4 py-3 rounded relative" role="alert">
                        <strong class="font-bold">{{ errorMessage }}</strong>
                    </div>
                } -->
                <!-- [formGroup]="loginForm" (ngSubmit)="onSubmit()" -->
                
                <form class="space-y-4 md:space-y-6" [formGroup]="resetForm" (ngSubmit)="onSubmit()" >
                    
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your new password</label>
                        <input type="password" formControlName="password" name="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-900 dark:border-gray-800 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="••••••••" required>
                    </div>
                    <div>
                        <label for="cofirmPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm your password</label>
                        <input type="password" formControlName="confirmPassword" name="confirmPassword" id="confirmPassword" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-900 dark:border-gray-800 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="••••••••" required>
                    </div>
                    <button type="submit" class="bg-green-500 px-4 py-2 rounded w-full hover:bg-green-700 text-white">Save Password</button>
                    
                </form>
            </div>
        </div>
    </div>
</section>

