<div *ngIf="course" class="w-full">
    <div class="  mt-5 w-full">
        <div class="flex justify-center items-center">
            <h1 class="text-3xl text-white font-black">{{ this.course!.title }}</h1>
        </div>

        <div class="card mt-5 w-2/3 mx-auto ">
            <div class="flex items-center justify-between mx-5">
                <div class="text-white">
                    <h1 class="text-2xl p-5">Course Actions </h1>
                </div>
                <div class="text-white flex gap-5 items-center">
                    <ng-icon class="hover:animate-pulse hover:scale-110 transition-all cursor-pointer" size="30" name="heroPlus" />
                    <ng-icon class="hover:animate-pulse hover:scale-110 transition-all cursor-pointer" size="30" name="heroPencil" />
                    <ng-icon class="hover:animate-pulse hover:scale-110 transition-all cursor-pointer" size="30" name="heroTrash" />
                </div>
            </div>
        </div>

        <a *ngIf="this.course!.lectures.length === 0" [routerLink]="['lesson/new']" class="card hover:bg-custom-hover cursor-pointer hover:scale-105 w-1/3 mt-5 mx-auto py-5 flex flex-col justify-center items-center">

            <h1 class="text-white text-3xl mb-3 px-1">CREATE LESSON</h1>

            <ng-icon class="text-white" size="40" name="heroPlus" />
        </a>

        <div *ngIf="this.course!.lectures.length !== 0" class="">

        </div>
    </div>
</div>

<div *ngIf="!course">
    <h1 class="text-white">Not Found</h1>
</div>
