<div *ngIf="this.course" class="">
    <div *ngIf="!this.userEnrolled" class="">

        <div class="grid grid-cols-1 md:grid-cols-2 mx-5 my-5 gap-5">
            <div class="card p-2">
                <div class="text-center text-4xl font-black text-white my-2">
                    {{ this.course!.title }}
                </div>
                <div class="">
                    <img *ngIf="this.course!.cover" [src]="this.course!.cover" alt="Course Cover" class="w-full h-48 object-cover rounded-md mb-4">
                </div>

                <div class="text-white text-center">
                    {{ this.course!.description }}
                </div>

                <div class="flex justify-between items-center mx-5 p-2">
                    <div class="text-white">
                        <ng-icon name="heroStar" />
                        {{ this.course!.rating }}
                    </div>
                    <div class="">
                        <button (click)="handleEnrollButtonClick()" class="text-white absolute end-2.5 bottom-2.5 bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Enroll</button>
                    </div>
                </div>
            </div>
            <div class="card p-2">
                <div *ngIf="this.course!.lectures.length !== 0" class="">
                    <div class="text-white font-black text-3xl mb-2">
                        Lectures
                    </div>
                    <div *ngFor="let lecture of this.course!.lectures " class="text-white">
                        {{ lecture!.name }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="this.userEnrolled" class="">
    <div *ngIf="course" class="w-full ">
        <div class="  mt-5 w-full">
<!--            <div class="flex justify-center items-center">-->
<!--                <h1 class="text-3xl text-white font-black">{{ this.course!.title }}</h1>-->
<!--            </div>-->

            <div class="card mt-5 mx-5  ">
                <div class="flex items-center justify-between mx-5">
                    <div class="text-white">
                        <h1 class="p-5 font-black text-3xl">{{ this.course!.title }} </h1>
                    </div>
                    <div class="text-white flex gap-5 items-center">
                        <a [routerLink]="['lecture/new']"> <ng-icon class="hover:animate-pulse hover:scale-110 transition-all cursor-pointer" size="30" name="heroPlus" /> </a>
<!--                        <ng-icon class="hover:animate-pulse hover:scale-110 transition-all cursor-pointer" size="30" name="heroPencil" />-->
                        <ng-icon class="hover:animate-pulse hover:scale-110 transition-all cursor-pointer" size="30" name="heroTrash" (click)="handleDeleteCourse()" />
                    </div>
                </div>
            </div>

            <a *ngIf="this.course!.lectures.length === 0" [routerLink]="['lecture/new']" class="card hover:bg-custom-hover cursor-pointer hover:scale-105 w-1/3 mt-5 mx-auto py-5 flex flex-col justify-center items-center">

                <h1 class="text-white text-3xl mb-3 px-1">CREATE LESSON</h1>

                <ng-icon class="text-white" size="40" name="heroPlus" />
            </a>

            <div *ngIf="this.course!.lectures.length !== 0" class="grid grid-cols-3 items-start mx-5 mt-5 gap-5">
                <div class="col-span-2">
                    <div *ngIf="this.course!.lectures[this.active].lessons!.length === 0" class="card text-white w-full  flex justify-center items-center">
                        <a
                                [routerLink]="['lecture', this.course!.lectures[this.active]._id, 'lesson', 'new']"
                                class=" py-5 flex flex-col justify-center items-center">

                            <h1 class="text-white">Create Lesson</h1>
                            <ng-icon class="text-white" size="40" name="heroPlus" />
                        </a>
                    </div>

                    <div *ngIf="this.course!.lectures[this.active].lessons!.length !== 0"  class="w-full">
                        <div *ngFor="let lesson of this.course!.lectures[this.active].lessons" class="">
                            <app-lesson-item [lesson]="lesson" [courseId]="this.course!._id" [enrollment]="this.enrollment" />
                        </div>
                        <a
                                [routerLink]="['lecture', this.course!.lectures[this.active]._id, 'lesson', 'new']"
                                class="card mt-5 py-5 flex flex-col justify-center items-center">

                            <h1 class="text-white">Create Lesson</h1>
                            <ng-icon class="text-white" size="40" name="heroPlus" />
                        </a>
                    </div>
                </div>

                <div class="card flex flex-col gap-5 text-white p-5 sticky top-[100px]">
                    <div *ngFor="let lecture of this.course!.lectures; index as i">
                        <h1 (click)="changeActiveLecture(i)" class="font-black border border-transparent transition-all cursor-pointer p-2 hover:bg-black hover:border-custom-card rounded-custom-card">{{ lecture.name }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!course">
        <h1 class="text-white">Not Found</h1>
    </div>

</div>
